In [1]:
import pandas as pd

In [3]:
google=pd.read_csv("csvs/google.csv",squeeze=False)

In [4]:
google.head()

   Stock Price
0        50.12
1        54.10
2        54.65
3        52.38
4        52.95

In [5]:
google.max()

Stock Price    782.22
dtype: float64

In [6]:
google.min()

Stock Price    49.95
dtype: float64

In [7]:
google.idxmin() #for extracting index

Stock Price    11
dtype: int64

In [8]:
google.idxmax() #for extracting index

Stock Price    3011
dtype: int64