In [1]:
import pandas as pd

In [4]:
kulfi = ['chocalate','mango','vanila','strowberry','kesar']

In [7]:
pd.Series(kulfi)

0     chocalate
1         mango
2        vanila
3    strowberry
4         kesar
dtype: object

In [8]:
lottery = [4,5,6,7,92,34,65,445]

In [9]:
pd.Series(lottery)

0      4
1      5
2      6
3      7
4     92
5     34
6     65
7    445
dtype: int64

In [10]:
reg = [True,False,True,True,False]

In [13]:
pd.Series(reg)

0     True
1    False
2     True
3     True
4    False
dtype: bool

In [16]:
men = ["Smart","Handsome","Charming","Humble","Briliant"]

In [18]:
s=pd.Series(men)

In [19]:
s

0       Smart
1    Handsome
2    Charming
3      Humble
4    Briliant
dtype: object

# Attributes

In [20]:
s.values

array(['Smart', 'Handsome', 'Charming', 'Humble', 'Briliant'],
      dtype=object)

In [21]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [25]:
s.dtype

dtype('O')

In [28]:
rate =[3.99,3.47,45.7,566]
r=pd.Series(rate)
r

0      3.99
1      3.47
2     45.70
3    566.00
dtype: float64

# Methods

In [31]:
r.sum()

619.16

In [33]:
r.product()

358125.2988600001

In [35]:
r.mean() #average find

154.79

In [41]:
fruits = ['aple','mango','banana','watermelon']
weekday = ['sun','mon','tues','wed']

In [44]:
pd.Series(data=fruits,index=weekday)
pd.Series(fruits,index=weekday)

sun           aple
mon          mango
tues        banana
wed     watermelon
dtype: object